<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.felixwc.publish.eden.blog.mapper.PersonMapper">

    <select id="getAllPerson" resultType="Person">
        select person_id as id ,name ,password from person
    </select>
</mapper>